
.fullSlide{ width:100%;  position:relative;  height:274px;   }
.fullSlide .bd{ margin:0 auto; position:relative; z-index:0; overflow:hidden;  }
.fullSlide .bd ul{ width:100% !important;  }
.fullSlide .bd li{ width:100% !important;  height:274px; overflow:hidden; text-align:center;  }
.fullSlide .bd li a{ display:block; height:274px; }
.fullSlide .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px;text-align:center;
	 _background:#000; _filter:alpha(opacity=60); 
}
.fullSlide .hd ul{ text-align:center;  padding-top:5px;  }
.fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:8px; height:8px; margin:5px; background-color: #999; overflow:hidden; 
	line-height:9999px; 
}
.fullSlide .hd ul .on{ background-color: #fff; }

.row-3a{
}
.row-3a .g1{
	width: 375px;
	height: 241px;
	padding-top: 10px;
	border: 1px solid #ccc;
}
.focusBox { position: relative; width: 356px; height: 227px; overflow: hidden; font: 12px/1.5 Verdana, Geneva, sans-serif; text-align: left; background: white; }
.focusBox .pic img { width: 356px; height: 227px; display: block; }
.focusBox .num { position: absolute; z-index: 3; bottom: 8px; right: 8px; }
.focusBox .num li{ float: left; position: relative; width: 18px; height: 15px; line-height: 15px; overflow: hidden; text-align: center; margin-right: 1px; cursor: pointer; }
.focusBox .num li a,.focusBox .num li span { position: absolute; z-index: 2; display: block; color: white; width: 100%; height: 100%; top: 0; left: 0; text-decoration: none; }
.focusBox .num li span { z-index: 1; background: black; filter: alpha(opacity=50); opacity: 0.5; }
.focusBox .num li.on a,.focusBox .num a:hover{ background:#f60;  }


.menu{
	width: 276px;
	margin-left: 10px;
	height: 37px;
	line-height: 37px;
	border-top: 1px solid #6790AC;
	
}
.menu li{
	width: 91px;
	text-align: center;
	float: left;
	font-size: 14px;
	background-color: #FAFAFA;
	font-family: "microsoft yahei";
	color: #025595;
	cursor: pointer;
	display: block;
	border: 1px solid  #DEDEDE;
}
.menu li.tabFocus1{
	background-color: #fff;
	color: #025595;
	font-weight: bold;
	border: 0;
	
}
.content{
	width: 276px;
	padding-top: 5px;
	margin-left: 10px;
	height: 205px;
	clear: both;
}
.content li{
	width: 274px;
	height: 210px;
	display: none;
}
.content li.conFocus{
	display: block;
}
.dl-txt1 em{
	width: 170px;
	height: 26px;
	line-height: 26px;
	display: block;
	float: left;
}
.dl-txt1 em a{
	display: block;
	font-size: 12px;
	color: #666666;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-family: "microsoft yahei";
}
.dl-txt1 span{
	width: 100px;
	height: 26px;
	display: block;
	float: right;
	text-align: right;
	font-size: 12px;
	color: #666666;
	font-family: "microsoft yahei";
}
.notice{
	width: 300px;
	height: 251px;
}
.tit1{
	height: 40px;
	line-height: 40px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-top: 1px solid #6790AC;
	background-color: #FAFAFA;
}
.tit1 h3{
	float: left;
	padding-left: 5px;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #016ABB;
}
.tit1 .more1{
	float: right;
	padding-right:6px; ;
}
.tit1 .more1 a{
	display: block;
	color: #025595;
}
.row-2a{
	margin-top: 20px;
}
.list1{
	width: 298px;
	height: 209px;
	border: 1px solid #DDDDDD;
}
.ul-list1 li{
	line-height: 25px;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ul-list1 li a{
	color: #666666;
	font-size: 12px;
}
.ul-list1 li em{
	padding-left: 30px;
	width: 165px;
	height: 26px;
	line-height: 26px;
	display: block;
	float: left;
}
.ul-list1 li em a{
	display: block;
	color: #666666;
	font-size: 12px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-family: "microsoft yahei";
}
.ul-list1 li span{
	width: 100px;
	height: 26px;
	display: block;
	float: right;
	text-align: right;
	font-size: 12px;
	color: #666666;
	font-family: "microsoft yahei";
}	
.bg1{
	background: url(../images/i1.png) no-repeat  13px center;
}
.bg2{
	background: url(../images/i2.png) no-repeat 13px center;
}
.row-3b{
	padding-top: 30px;
}
.intor{
	
}
.list2{
	width: 314px;
	height: 274px;
	border: 1px solid #ccc;	
}
.list2 img{
	width: 314px;
	height: 115px;
	overflow: hidden;
}
.list2 .txt1{
	padding-top: 5px;
	line-height: 22px;
	color: #666;
	text-indent: 24px;
	overflow: hidden;
}
.honor{
	margin-left: 19px;
}
.ul-pro1 li{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;	
	border-bottom: 1px solid #BFBFBF;
}
.ul-pro1 li a{
		color: #666666;
		font-size: 12px;
		padding-left: 10px;
		display: block;
		font-family:"microsoft yahei";
}
.row-3c{
	padding-top: 30px;
}
.ul-img1{
	border: 1px solid #ccc;
	border-top: 0;
	padding: 10px 0;
	overflow: hidden;
}
.ul-img1 li{
	float: left;
	padding: 0 9px;
}
.ul-img1 li a{
	display: block;
}
.ul-img1 li a img{
	width: 122px;
	height: 45px;
	overflow: hidden;
}


.picMarquee-left{ width:100%; height: 30px;line-height: 30px; 
		overflow:hidden; position:relative;
		background: url(../images/bg3.gif) repeat-x;
}
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{width: 100%; 
			 float:left; _display:inline;
			overflow:hidden; text-align:center; 
 }
 .picMarquee-left .bd ul li .pic{
 	font-size: 14px;
 	font-family: "microsoft yahei";
 	color: #000;
 }



.tab-left{ width:988px;  overflow:hidden; position:relative;  border:1px solid #ddd;   }
.tab-left .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
.tab-left .hd .prev,.tab-left .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
	 cursor:pointer; background:url("../images/arrow.png") no-repeat;}
.tab-left .hd .next{ background-position:0 -50px;  }
.tab-left .hd .prevStop{ background-position:-60px 0; }
.tab-left .hd .nextStop{ background-position:-60px -50px; }
.tab-left .bd{ padding:10px;   }
.tab-left .bd ul{ overflow:hidden; zoom:1; }
.tab-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.tab-left .bd ul li .pic1{ text-align:center; }
.tab-left .bd ul li .pic1 img{ width:120px; height:90px; display:block; padding:2px; border:1px solid #ccc; }
.tab-left .bd ul li .pic1 a:hover img{ border-color:#999;  }
.tab-left .bd ul li .title1{ line-height:24px;  }
.tab-left .bd ul li .title1 a{
	font-size: 14px;color: #666;font-family: "microsoft yahei"; 
}		