
.wp{
	width: 990px;
	margin:auto;
}
.main{
	padding-top: 15px;
}
body{
	background-color: #fff;
}
.header{
	min-width: 990px;
	height: 100px;
	
}
.header .wp{
	height: 100px;
	background: url(../images/bg1.jpg) no-repeat 460px 0;
}
.logo1{
	padding-top: 20px;
}
.logo1 img{
	width: 440px;
	height: 61px;
	overflow: hidden;
}
.search{
	padding-top: 34px;
	width: 224px;
}
.inp1{
	width: 160px;
	padding-left: 5px;
	height: 28px;
	float: left;
	border: 1px solid #9D9F9D;
}
.inp2{
	width: 44px;
	height: 30px;
	background-color: #025595;
	border: 0;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #fff;
	cursor: pointer;
}
.nav{
	height: 66px;
	line-height: 66px;
	background-color: #025595;
}
.ul-nav1{
	margin: auto;
}
.ul-nav1 li{
	float: left;
}
.ul-nav1 li a{
	font-size: 15px;
	color: #fff;
	font-family: "microsoft yahei";
	padding: 0 25px;
	display: block;
}

.footer{
	min-width: 990px;
	height: 60px;
	line-height: 60px;
	background-color: #025595;
	margin-top: 30px;
}
.footer .copyright{
	text-align: center;
	font-size: 13px;
	font-family: "microsoft yahei";
	color: #fff;
}